.board {
    background-color: aquamarine;
    width: 450px;
    height: 200px;
    margin: 20px auto;
    border-radius: 20px;
}

.score {
    color: #282c34;
    font-size: 100px;
    font-weight: 700;
    padding-top: 15px;
}

.scoreRed {
    color: red;
    font-size: 110px;
    font-weight: 700;
    padding-top: 15px;
}

.setting {
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
}

.error {
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    color: red;
}